/* Variables === */
// Colors
$primary: #382d21;
$accent: #3a375d;
$accent-light: #c7c5e3;
$bookcase: #BA976E;
$borders: #5d4c37;

// Breakpoints
$break-m: 554px;
$break-l: 900px;

// Book Size
$x-small: 4.704rem;
$y-small: 7.21rem;
$z-small: .7rem;

$x-medium: 5.712rem;
$y-medium: 8.755rem;
$z-medium: .85rem;

$x-large: 6.72rem;
$y-large: 10.3rem;
$z-large: 1rem;

/* Mixins --- */
@mixin btn {
  border: 2px solid;
  background-color: $accent-light;
  cursor: pointer;
  transition: box-shadow .2s;
  &:hover,
  &:focus {
    box-shadow: 4px 5px 13px rgba($color: #000000, $alpha: .5);
  }
  @content;
}