@import "utilities/variables"; 

/* Base Styles --- */
* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $primary;
  line-height: 1.45;
  text-align: center;
}

#App {
  max-width: 56.25rem; /* 900px */
  margin: 0 auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

h1, h2 {
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 2.074rem;
}

h2 {
  font-size: 1.4rem;
}

a,
button,
select {
  color: $accent;
}

abbr {
  text-decoration: none!important;
}

/* ================================================
  Main Page
=================================================== */

/* -----------------------------------
  Header
-------------------------------------- */
#main-header {
  position: absolute;
  left: -200rem;
  padding: .5rem;

  @media screen and (min-height: 44.8rem) { // 717
    position: relative;
  }

  h1 {
    margin: 0;
  }
}

/* -----------------------------------
  Main (bookcase)
-------------------------------------- */
main {
  position: relative;
  border: .75rem solid $borders; // 12
  background-color: $bookcase;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
  perspective: 500px;

  hr {
    margin: 0;
    border: 0;
    height: .7rem;
    background-color: $borders;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
  }
}

/* Categories --- */
.category {
  min-height: 5rem;
  text-align: center;

  h2 {
    margin: 0 0 .2rem .3rem;
    text-align: left;
  }
}

/* Books --- */
.book {
  position: relative;
  display: inline-block;
  margin: .2rem 2rem;
  vertical-align: middle;
}

.preview-link {
  img.cover {
    max-width: 6.53rem;
    box-shadow: 0 5px 10px;
    transition: box-shadow .2s;
  }

  &:hover img.cover,
  &:focus img.cover {
    box-shadow: 0 10px 20px;
  }
}

select {
  position: absolute;
  bottom: -.3125rem; /* 5px */
  @include btn {
    padding: .5rem 0;
    border-radius: 1rem;
  }
}

.remove {
  position: absolute;
  top: -1.125rem; /* 18px */ right: -1.875rem; /* 30px */
  font-size: 2rem;
  margin-bottom: .5rem;
  @include btn {
    padding: .1rem .5rem;
    border-radius: 50%;
  }

  abbr {
    position: relative;
    top: -.1875rem; /* 3px */
  }
}

/* Add link ---*/
#add-link {
  font-size: 1.5rem;
  line-height: 1;
  @include btn {
    padding: .5rem;
    border-radius: 1rem;
  }
  text-decoration: none;
  position: absolute;
  right: -.4rem;  top: -.4rem;
}

/* -----------------------------------
  3D Book
-------------------------------------- */
#three-d-book {
  position: relative;
  width: $x;
  height: $y;

  transform-style: preserve-3d;
  transition: transform .3s;
}

.preview-link {
  display: inline-block;

  &:hover,
  &:focus {
    #three-d-book {
      transform: rotateY(-21deg);
    }
    
    #back {
      box-shadow: 0 10px 20px;
    }
  }
}

.face {
  position: absolute;
  background-color: #fff;
  opacity: 1;
}

/* Faces Sizing --- */
#front,
#back {
  width: $x;
  height: $y;
}

#top,
#bottom {
  width: $x;
  height: $z;
}

#right,
#left {
  width: $z;
  height: $y;
}

/* Faces Positioning --- */
#front {
  transform: translateZ(calc(#{$z} / 2));
  left: 0;
}

#back {
  transform: rotateY(180deg) translateZ(calc(#{$z} / 2));
  box-shadow: 0 5px 10px;
  transition: box-shadow .2s;
}

#top {
  transform: rotateX(90deg) translateZ(calc(#{$z} / 2));
}

#bottom {
  transform: rotateX(-90deg) translateZ(calc(#{$y} - .5rem));
}

#right {
  transform: rotateY(90deg) translateZ(calc(#{$x} - .5rem));
}

#left {
  transform: rotateY(-90deg) translateZ(calc(#{$z} / 2));
  background-color: #333;
}

/* ================================================
  Adding Page
=================================================== */

/* -----------------------------------
  Header
-------------------------------------- */
#adding-page-header {
  h1 {
    margin: 1rem;
  }
}

#return-link {
  font-size: 1.2rem;
}

/* -----------------------------------
  Results
-------------------------------------- */
#results {
  margin-top: 1rem;
  padding: 1rem;
  background-color: $bookcase;
  border: .75rem solid $borders;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
  perspective: 500px;

  .book {
    margin-bottom: 1rem; 
  }
}